[submodule "api"]
	path = services/api
	url = git@github.com:rebase-inc/api.git
[submodule "private-crawler"]
	path = services/private-crawler
	url = git@github.com:rebase-inc/private-crawler.git
[submodule "skillgraph"]
	path = services/skillgraph
	url = git@github.com:rebase-inc/skillgraph.git
[submodule "logserver"]
	path = services/logserver
	url = git@github.com:rebase-inc/logserver.git
